.App-logo-div {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.button {
  display: flex;
  padding: 0;
  background: none; 
  border:1px solid rgba(0,0,0,0); 
  font-family: Roboto,'Noto Sans KR', Helvetica Neue,sans-serif; 
  cursor:pointer; 
  position: relative; 
  width:auto; 
  text-align: center;
  border-radius: 2px; 
}

.button:disabled {
  background: #e9ecef !important; 
  color:#adb5bd !important; 
  cursor: not-allowed;
}
.button__text
.button__icon{
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
}

.button  .xi-x {padding-right:5px;}
.button.xs {height:24px; line-height: 22px; font-size:12px; padding:0 5px;}
.button.s {height:28px; line-height: 28px; font-size:14px; min-width:43px; padding:0 6px;}
.button.m {height:30px;line-height: 30px; font-size:14px; min-width:60px; padding:0 6px;}
.button.md {height:33px;line-height: 33px; font-size:14px; min-width:60px; padding:0 8px;}
.button.lg {height:48px;line-height: 46px; font-size:18px; min-width:140px; padding:0 10px; font-weight: bold;}
.button.w100 {width:100%;}
.button.i .xi-x {padding-right:0px;}
.button.xs.i {min-width:24px;max-width:24px;}
.button.md.i {min-width:32px;max-width:32px;width:32px;}
.button.lg.i {min-width:48px;max-width:48px;}
.button.grid-btn {height:33px;line-height: 33px; min-width:60px; }
.button.grid-btn.i {min-width:32px;max-width:32px;width:32px;}
.button.xs.i .xi-x {font-size:1em;}
.button.white {background-color: #F8F9FA; border-color:#CED4DA; color:#343A40; border: none;}
.button.white:hover, .button.white:focus, .button.white:active {background-color: #F1F3F5;}
.button.purple {background-color: #3B5BDB; color:#fff;}
.button.purple:hover, .button.purple:focus, .button.purple:active {background-color: #364FC7;}
.button.purple-o {border:1px solid #3B5BDB; color:#3B5BDB;}
.button.purple-o:hover, .button.purple-o:focus, .button.purple-o:active {background-color: #3B5BDB; color:#fff;}
.button.yellow {background-color: #ffcc33; color:#212529;}
.button.yellow:hover, .button.yellow:focus, .button.yellow:active {background-color: #FFD75F;}
.button.grey {background: #bdc1c7; border:1px solid #bac1c9; color:#fff;}
.button.grey:hover, .button.grey:focus, .button.grey:active {background: #7b828a; color:#fff;}
.button.grey-o {background: #F8F9FA; border:1px solid #CED4DA; color:#949DA8;}
.button.grey-o:hover, .button.grey-o:focus, .button.grey-o:active {background: #CED4DA; color:#212529;}
.button.red  {color: #fff; background: #E03131;}
.button.red:hover, .button.red:focus, .button.red:active{  background-color: #e03131;}
.button.red-o {border:1px solid #E03131; color:#E03131; background-color: #FFF5F5;}
.button.red-o:hover, .button.red-o:focus, .button.red-o:active {color: #fff; background: #E03131;}
.button.tomato  {color: #fff; background: #ffb68d;}
.button.tomato:hover, .button.red:focus, .button.red:active{  background-color: #ffb68d;}
.button.new_green {color: #7ADE87; background-color: #F2FFF4;border:1px solid #7ADE87;}
.button.tomato-o {border:1px solid #ffb68d; color:#ffb68d; background-color: #FFF5F5;}
.button.tomato-o:hover, .button.red-o:focus, .button.red-o:active {color: #fff; background: #ffb68d;}
.button.lightgreen {color: #146b51; background: #79e7c6b0;} 
.button.green:hover, .button.green:focus, .button.green:active {background-color: #79e7c6b0; }
.button.green {color: #ffffff; background: #0CA678;} 
.button.green:hover, .button.green:focus, .button.green:active {background-color: #099268; }
.button.green-o {border:1px solid #0CA678; color:#0CA678; background-color: #EBFBEE; }
.button.green-o:hover, .button.green-o:focus, .button.green-o:active {color: #ffffff; background: #0CA678;}
.button.blue {color: #fff; background: #1C7ED6;}
.button.blue:hover, .button.blue:focus, .button.blue:active {background:#1971C2; }
.button.blue-o {border:1px solid #228BE6; color:#228BE6; background-color: #EDF2FF;}
.button.blue-o:hover, .button.blue-o:focus, .button.blue-o:active {color: #fff; background: #228BE6;}


.app-panel {width: 100%; height: 100vh; position: relative; display: block; overflow: hidden;}
.head-panel {height: 40px}
.middle-panel {width: 100%; display: flex; height: calc(100% - 40px);}
.side-panel { position:relative;
  height: 100%;
  width: 17vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
	border-top:none;
	min-width: 250px;
}
.main-panel {width : 100%; height: 100%; background-color: white; overflow-y: auto;}
.component-panel {background: white; width: calc(100% - 44px); margin: 0 5px; padding: 16px; position:relative;}
.component-panel + .subfull-panel {margin-top: 5px;}
.component-panel + .component-panel {margin-top: 10px ;}
.flex-panel > .component-panel + .component-panel {margin-top: 0px ;}
.footer-panel {position: relative; background: #F8F9FA; border-top: 1px solid #E9ECEF; overflow: hidden;  width: 100%; height: 4.5vh; }
.flex-panel {display: flex; padding:5px 0;}
.full-panel {position: relative; display: block; padding:5px 5px;}
.full-panel > .relative-panel {margin-bottom: 10px;}
.subfull-panel {position: relative; display: block; width: 100%;}
.subfull-panel > .component-panel {margin-top: 10px;}
.lfloat-panel {position: relative; float:left;}
.rfloat-panel {position: relative; float: right;}
.relative-panel {position: relative; display: inline-block; width: 100%;}
.main-panel .tray-panel {width:100%; display: inline-block; height: 47px; border-bottom: 1px solid #E9ECEF; position:relative; }
.main-panel .tray-panel .rfloat-panel {position: absolute; height:47px; padding-right:40px; right:0; background: #fff; border-bottom: 1px solid #E9ECEF; box-shadow: -10px 0px 10px rgba(0,0,0,.15);}
.rfloat-panel > button {margin-left: 5px !important;}
.rfloat-panel > button:first-child {margin-left: 0px;}
.center-panel { text-align: center; }
