@import url('xeicon.css');

$color : antiquewhite, aqua, aquamarine, azure, beige, bisque, black, blanchedalmond, blue, blueviolet, brown, burlywood, cadetblue, chartreuse, chocolate, coral, cornflowerblue, cornsilk, crimson, cyan, darkblue, darkcyan, darkgoldenrod, darkgray, darkgreen, darkgrey, darkkhaki, darkmagenta, darkolivegreen, darkorange, darkorchid, darkred, darksalmon, darkseagreen, darkslateblue, darkslategray, darkslategrey, darkturquoise, darkviolet, deeppink, deepskyblue, dimgray, dimgrey, dodgerblue, firebrick, floralwhite, forestgreen, fuchsia, gainsboro, ghostwhite, gold, goldenrod, gray, green, greenyellow, grey, honeydew, hotpink, indianred, indigo, ivory, khaki, lavender, lavenderblush, lawngreen, lemonchiffon, lightblue, lightcoral, lightcyan, lightgoldenrodyellow, lightgray, lightgreen, lightgrey, lightpink, lightsalmon, lightseagreen, lightskyblue, lightslategray, lightslategrey, lightsteelblue, lightyellow, lime, limegreen, linen, magenta, maroon, mediumaquamarine, mediumblue, mediumorchid, mediumpurple, mediumseagreen, mediumslateblue, mediumspringgreen, mediumturquoise, mediumvioletred, midnightblue, mintcream, mistyrose, moccasin, navajowhite, navy, oldlace, olive, olivedrab, orange, orangered, orchid, palegoldenrod, palegreen, paleturquoise, palevioletred, papayawhip, peachpuff, peru, pink, plum, powderblue, purple, red, rosybrown, royalblue, saddlebrown, salmon, sandybrown, seagreen, seashell, sienna, silver, skyblue, slateblue, slategray, slategrey, snow, springgreen, steelblue, tan, teal, thistle, tomato, turquoise, violet, wheat, white, whitesmoke, yellow, yellowgreen;
$size  : (xs: 2, sm: 2.5, md: 3, lg: 4, xl: 5);

button {
  padding: 0;
  border:1px solid rgba(0,0,0,0); 
  font-family: Roboto,'Noto Sans KR', Helvetica Neue,sans-serif; 
  cursor:pointer; 
  position: relative; 
  width:auto; 
  text-align: center;
  border-radius: 3px;
  &:hover, &:focus, &:active  {
    opacity: 0.33;    
  }
  &:disabled {
    background: #e9ecef !important; 
    color:#adb5bd !important; 
    cursor: not-allowed;
  }
}

.button {padding-right:5px;}
.button.grey-o {background: #F8F9FA; border:1px solid #CED4DA; color:#949DA8;}
.button.grey-o:hover, .button.grey-o:focus, .button.grey-o:active {background: #CED4DA; color:#212529;}


@function contrastText($color) {
  $result: invert($color);
  $lightness: lightness($result);

  @debug "lightness: #{$lightness}";

  @if ($lightness < 60) {
    $result: black;
  } @else {
    $result: white;
  }
  @return $result;
}


@each $color in $color {  
  .sh-alert-modal-content-header.color-#{"" + $color} {
    background: $color; color: contrastText($color); ;
  }
  .sh-tabs-ul-li.color-#{"" + $color} {
    background: $color;
    color: contrastText($color);  ;
  }
  .sh-tabs-ul-li-active.color-#{"" + $color} {
    border: 1px solid #adb5bd;
    color: lighten(contrastText($color), 10%);  
    background: lighten($color, 10%);
  }
  .sh-tabs-ul-li.color-#{"" + $color}:hover {
    background-color: lighten($color, 5%);
  }
  .sh-tabs-ul-li-active.color-#{"" + $color}:hover {
    background-color: lighten($color, 10%);
  }

  button.color-#{"" + $color} {
    background-color: $color; 
    color: contrastText($color);
  }
  button.color-#{"" + $color}-o {
    border-color: $color; 

    background-color: white; 
    color: $color;   
  }
  input.color-#{"" + $color} {
    color: $color;   

    &::placeholder {
      color: lighten($color, 50%);
    }
  }
  .sh-checkbox-div {
    input[type="checkbox"] + label.color-#{"" + $color} {
      color: $color;   
      &:before {    
        border: 1px solid lighten($color, 50%);;   
        background: rgb(212, 212, 212);
        box-shadow: 2px 1px 0 $color;
      }    
    }
    input[type="checkbox"]:checked + label.color-#{"" + $color}:before {
      border: 2px solid #fff;
      background: $color;
      border-radius: 0.3em;
      box-shadow: 2px 1px 0 #50565a;
    }
  }
  .sh-selectbox.color-#{"" + $color} {
    background-color: $color; 
    color: invert($color);
    outline: none;
    transition:all 0.2s;
    cursor:pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    &:hover {
      background-color: darken($color, 20%);
    }
    &:disabled {
      background-color: lighten($color, 20%);
      cursor: not-allowed;
    }
  }  
  textarea.color-#{"" + $color} {
    color: $color;   
  }
  
  .sh-switch-input:checked + .sh-switch-span.color-#{"" + $color} {
    background-color: $color;   
  } 
}

@each $name, $glyph in $size {
  
  .#{$name} {
    font-size: calc(16px / 3) * $glyph;
    line-height: 6px * $glyph;  
  }
  .sh-input-div {
    input.#{$name} {
      height: calc(calc(33px / 3 * $glyph) - 4px); 
    }
  }
  .sh-tabs-ul-li.#{$name} {
    height: calc(24px / 3) * $glyph; 
    padding: calc(5px / 3) * $glyph 0px; 
  }
  .sh-tabs-ul.#{$name} {
    height: calc(34px / 3) * $glyph; 
  }
  .sh-switch-label.#{$name}{
    width: calc(40px / 3) * $glyph; 
    height: 8px * $glyph; 
  }
  .sh-switch-span.#{$name} {
    border-radius: calc(34px / 3) * $glyph; 
  }
  .sh-switch-span.#{$name}:before { 
    height: 6px * $glyph;
    width: 6px * $glyph;
    left: calc(4px / 3) * $glyph; 
    bottom: 1px * $glyph;
  }
  .sh-switch-input:checked + .sh-switch-span.#{$name}:before {
    -webkit-transform: translateX(calc(14px / 3) * $glyph); 
    -ms-transform: translateX(calc(14px / 3) * $glyph); 
    transform: translateX(calc(14px / 3) * $glyph);
  }
  select.#{$name} {    
    height: 11px * $glyph;
    padding: 2px* $glyph 0 2px* $glyph 1.3px* $glyph;
  }
  button.#{$name} {    
    padding: 2px * $glyph 1.5px * $glyph;
    height: 11px * $glyph;
    min-width: 25px * $glyph;
  }
  button.#{$name}.i {    
    padding: 2px * $glyph 1.5px * $glyph;
    height: 11px * $glyph;
    min-width: 5px * $glyph;
  }
  .sh-label-div {
    span.#{$name} {    
      margin-right: 3px * $glyph; 
      margin-left: 3px * $glyph;
    }
  } 
  .sh-label-div.#{$name} {  
      margin-top: 1.5px * $glyph;
  }  
 
  .sh-checkbox-div {
    input[type="checkbox"] + label.#{$name} {
      padding-left: 9px * $glyph;
      margin-right: 3px * $glyph;;
    }
  }  
  .sh-radio-div {
    input[type='radio'].#{$name} {
      width : 4px * $glyph;
      height: 4px * $glyph;
      top   : 2px * $glyph;
    }
    label.#{$name} {
      padding-left : 4px * $glyph; 
      padding-right: 4px * $glyph; 
      height       : 12.5px * $glyph; ; 
    }
    input + label.#{$name}:before{
      left  : calc(-10px / 3) * $glyph;
      top   : calc(2px / 3) * $glyph;
      width : 5px * $glyph;
      height: 5px * $glyph;
    }
  }
}
//.sh-radio-div > input + label:before {background:#fff; border:2px solid #DEE2E6; }

.sh-radio-div {display: inline-block; box-sizing: border-box; align-items: center; position:relative; margin-right: 12px;}
.sh-radio-div:after {content:""; display: block; float: none; }
.sh-radio-div > input[type='radio'] {float: left; align-content: center; position: relative;}
.sh-radio-div > input + label:before {content:""; display: inline-block; position:absolute; background:#fff; border-radius:50%; box-sizing:border-box; border:2px solid #DEE2E6; }
.sh-radio-div > input:checked + label:before { border:5px solid #748FFC;}
.sh-radio-div > input:disabled + label:before { border:2px solid #dacece; background: #e9ecef; cursor: not-allowed;}
.sh-radio-div > label {float: left; display:block; position: relative;}
.sh-radio-input {margin: 0px 0px 0px 0px; cursor: pointer;z-index: -1;}
.sh-radio-label {cursor: pointer;}

.sh-table { width: 100%;}
.sh-table > { width: 100%; border-collapse: collapse; }
.sh-table > tr, th, td { vertical-align: middle; }
.sh-table-th { padding-left: 15px; text-align: left; font-size: 0.8em; color:#495057; background-color :#F1F3F5; height: 23px; position: relative;}
.sh-table-th.req:before {content:'' ; width:4px; height:4px; border-radius: 50%; display: block; left:7px; top: 29%; position: absolute; background-color: #ff6b6b;}
.sh-table-td { height: 23px; outline: none; }

.app-panel    {height: 100vh; width: 100%; display: block; overflow: hidden;}
.head-panel   {height: 40px}
.middle-panel {width: 100%; display: flex; height: calc(100% - 40px);}
.side-panel   {position:relative;
  height: 100%;
  width: 17vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
	border-top:none;
	min-width: 250px;
}
.main-panel {width : 100%; height: 100%; background-color: white; overflow-y: auto;}
.component-panel {background: white; width: calc(100% - 44px); margin: 0 5px; padding: 16px; position:relative;}
.component-panel + .subfull-panel {margin-top: 5px;}
.component-panel + .component-panel {margin-top: 10px ;}
.footer-panel {position: relative; background: #F8F9FA; border-top: 1px solid #E9ECEF; overflow: hidden;  width: 100%; height: 4.5vh; }
.flex-panel {
  display: flex; padding:5px 0;
  .component-panel + .component-panel {
    margin-top: 0px ;
  }
}
.full-panel {
  position: relative; display: block; padding:5px 5px;
  .relative-panel {margin-bottom: 10px;}
}
.subfull-panel {
  position: relative; display: block; width: 100%;
  .component-panel {margin-top: 10px;}
}
.lfloat-panel {position: relative; float:left; width: 100%;}
.rfloat-panel {position: relative; float: right; width: 100%;}
.relative-panel {position: relative; display: inline-block; width: 100%;}
.main-panel .tray-panel {width:100%; display: inline-block; height: 47px; border-bottom: 1px solid #E9ECEF; position:relative; }
.main-panel .tray-panel .rfloat-panel {position: absolute; height:47px; padding-right:40px; right:0; background: #fff; border-bottom: 1px solid #E9ECEF; box-shadow: -10px 0px 10px rgba(0,0,0,.15);}
.rfloat-panel > button {margin-left: 5px !important;}
.rfloat-panel > button:first-child {margin-left: 0px;}
.center-panel { text-align: center; }

input { 
  position: relative; 
  z-index: 9; 
  border: 1px solid #DEE2E6; 
  outline: none; 
  border-radius:3px;
  background: #fff; 
  width: calc(100% - 6px);
  &:disabled {
    background-color: #ced4da; color:#777; cursor: not-allowed;
  }
}
.sh-input-div {overflow:hidden;}

.border_red {
	border: 1px solid #ff0000 !important;
}


.sh-checkbox-div {
  input[type="checkbox"] {
    display: none;

  }

  input[type="checkbox"] + label {
    display: block;
    position: relative;    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;  

  }
  input[type="checkbox"] + label {
    &:before {
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 0.2em;
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: all 0.2s, background 0.2s ease-in-out;
      transition: all 0.2s, background 0.2s ease-in-out;
    }    
  }
  input[type="checkbox"]:disabled + label { 
    color: #b8bbbd; cursor: not-allowed;
    &:before {
      border:1px solid #ced4da; background: #e9ecef; cursor: not-allowed;
    }  
  }
}


.sh-label-div{
  display: inline-block; position: relative; 
  span{
    color:#495057; font-variant: small-caps; font-weight: bold;
    font-weight: bold; 
  }
}

.no_resize{
  resize: none;
}
.sh-textarea-div { width:auto;}
.sh-textarea-div > textarea { width:100%; padding: 0px; margin: 0px; box-sizing: border-box; padding:8px; }
.sh-textarea-div > textarea:disabled {background: #e9ecef !important; color:#adb5bd !important; cursor: not-allowed;}

textarea { height: auto;}

.sh-switch-label {position: relative; display: inline-block; top:-2px; margin-left: 10px;}

.sh-switch-input {opacity: 0; width: 0; height: 0; }
.sh-switch-span {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #dee2e6; -webkit-transition: .4s; transition: .4s; }
.sh-switch-span:before {position: absolute; content: ""; background-color: white; -webkit-transition: .4s; transition: .4s; border-radius: 50%;}


.sh-tab-panel {width: 100%;}
.sh-tab-container {width: 100%; display:inline; position: relative;}
.sh-tabs-ul-li-active {border-width: 1px 1px 0 1px; border-bottom: 1px solid #fff;}
.sh-tabs-ul {margin: 0; padding: 0; float: left; list-style: none;  border-bottom: 1px solid #adb5bd; width: 100%;}
.sh-tabs-ul-li {float: left; text-align:center; cursor: pointer; font-weight: bold; overflow: hidden; position: relative;}


select {border-radius:4px; border:1px solid #DEE2E6; width:100%; outline: none; box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; }

.sh-select-div { overflow: hidden;}
.sh-select-div:hover { cursor:pointer;}
.sh-tab-container {height: 100%}

.sh-alert-modal { position: fixed; z-index: 9999; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background-color: rgba(0,0,0, 0.5); border: 1px solid black; border-radius: 4px; box-shadow: -1px -1px 7px rgba(0,0,0,0.1);}
.sh-alert-modal-content { background: white; top: 25%; left: 25%; right: 25%; bottom: 25%; width: 400px;  min-height: 180px; margin: auto; overflow: hidden; border-radius: 4px; box-shadow: -1px -1px 7px rgba(0,0,0,0.1);}
.sh-alert-modal-content-header {width:100%; height:40px;}
.sh-alert-modal-content-body { text-align: left; display: flex; padding: 20px; white-space: normal; justify-content: center; margin-top: 15px;}

.sh-popup-modal { position: fixed; z-index: 9999; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background-color: rgba(0,0,0, 0.5); border: 1px solid black;}
.sh-popup-modal-content {position: absolute;  top: 25%; left: 25%; right: 25%; bottom: 25%; margin: auto; background: white; overflow: auto; border-radius: 4px; box-shadow: -1px -1px 7px rgba(0,0,0,0.4);}
.sh-popup-modal-content-header {width:100%; height:40px; border-bottom: 1px solid #F1F3F5; background: #364fc7; color:#fff;}
.sh-popup-modal-content-body {text-align: center; width: 100%; height: calc(100% - 51px);}

.sh-popup-modal-content-header > div,
.sh-alert-modal-content-header > div {line-height: 52px; height: 50px; overflow: hidden; padding-left: 15px; }

.sh-popup-modal-content-header button,
.sh-alert-modal-content-header button {border:none; cursor: pointer; overflow: hidden; margin-top: 10px;margin-right: 10px; background-position:50% 50%; background-size:50%;}
