@import url('xeicon.css');




.App-logo {
  cursor: pointer;
}

.button {
  display: flex;
  padding: 0;
  background: none; 
  border:1px solid rgba(0,0,0,0); 
  font-family: Roboto,'Noto Sans KR', Helvetica Neue,sans-serif; 
  cursor:pointer; 
  position: relative; 
  width:auto; 
  text-align: center;
  border-radius: 2px; 
}

.button:disabled {
  background: #e9ecef !important; 
  color:#adb5bd !important; 
  cursor: not-allowed;
}
.button__text
.button__icon{
  display: inline-flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
}

.button .xi-x   {padding-right:5px;}
.button.i .xi-x {padding-right:0px;}

.button.xs {height: 24px; line-height: 22px; font-size: 12px; padding: 0 5px;}
.button.s  {height: 28px; line-height: 28px; font-size: 14px; padding: 0 6px;  min-width: 43px;}
.button.m  {height: 30px; line-height: 30px; font-size: 14px; padding: 0 6px;  min-width: 60px;}
.button.md {height: 33px; line-height: 33px; font-size: 14px; padding: 0 8px;  min-width: 60px;}
.button.lg {height: 48px; line-height: 46px; font-size: 18px; padding: 0 10px; min-width: 100px; font-weight: bold;}
 
.button.xs.i {min-width: 24px; max-width: 24px;}
.button.s.i  {min-width: 24px; max-width: 28px;}
.button.m.i  {min-width: 24px; max-width: 32px;}
.button.md.i {min-width: 32px; max-width: 35px;}
.button.lg.i {min-width: 45px; max-width: 48px;}

.button.grid-btn   {height:33px;line-height: 33px; min-width:60px; }
.button.grid-btn.i {min-width:32px;max-width:32px;width:32px;}

.button.xs.i .xi-x {font-size:1em;}

.button.white      {background: #F8F9FA; color: #212529;}
.button.purple     {background: #3B5BDB; color: #ffffff;}
.button.yellow     {background: #ffcc33; color: #212529;}
.button.grey       {background: #404144; color: #ffffff;}
.button.red        {background: #E03131; color: #ffffff;}
.button.tomato     {background: #ffb68d; color: #212529;}
.button.new_green  {background: #0CA678; color: #ffffff;}
.button.lightgreen {background: #7ADE87; color: #212529;} 
.button.green      {background: #146b51; color: #ffffff;} 
.button.blue       {background: #1C7ED6; color: #ffffff;}

.button.white-o      {border:1px solid #F8F9FA; color: #F8F9FA;}
.button.purple-o     {border:1px solid #3B5BDB; color: #3B5BDB;}
.button.yellow-o     {border:1px solid #ffcc33; color: #ffcc33;}
.button.grey-o       {border:1px solid #404144; color: #404144;}
.button.red-o        {border:1px solid #E03131; color: #E03131;}
.button.tomato-o     {border:1px solid #ffb68d; color: #ffb68d;}
.button.new_green-o  {border:1px solid #0CA678; color: #0CA678;}
.button.lightgreen-o {border:1px solid #7ADE87; color: #7ADE87;} 
.button.green-o      {border:1px solid #146b51; color: #146b51;} 
.button.blue-o       {border:1px solid #1C7ED6; color: #1C7ED6;}

.button.white:hover,.button.white:focus,.button.white:active                {background: #dadada;}
.button.purple:hover,.button.purple:focus,.button.purple:active             {background: #364FC7;}
.button.yellow:hover,.button.yellow:focus,.button.yellow:active             {background: #FFD75F;}
.button.grey:hover,.button.grey:focus,.button.grey:active                   {background: #7b828a;}
.button.red:hover,.button.red:focus,.button.red:active                      {background: #b72626;}
.button.tomato:hover,.button.tomato:focus,.button.tomato:active             {background: #cf9573;}
.button.new_green:hover,.button.new_green:focus,.button.new_green:active    {background: #0a8a63;}
.button.lightgreen:hover,.button.lightgreen:focus,.button.lightgreen:active {background: #67ba72;} 
.button.green:hover,.button.green:focus,.button.green:active                {background: #0f513e;} 
.button.blue:hover,.button.blue:focus,.button.blue:active                   {background: #1767ad;}

.button.white-o:hover,.button.white-o:focus,.button.white-o:active                {color: #dadada;border:1px solid #dadada;}
.button.purple-o:hover,.button.purple-o:focus,.button.purple-o:active             {color: #364FC7;border:1px solid #364FC7;}
.button.yellow-o:hover,.button.yellow-o:focus,.button.yellow-o:active             {color: #FFD75F;border:1px solid #FFD75F;}
.button.grey-o:hover,.button.grey-o:focus,.button.grey-o:active                   {color: #7b828a;border:1px solid #7b828a;}
.button.red-o:hover,.button.red-o:focus,.button.red-o:active                      {color: #b72626;border:1px solid #b72626;}
.button.tomato-o:hover,.button.tomato-o:focus,.button.tomato-o:active             {color: #cf9573;border:1px solid #cf9573;}
.button.new_green-o:hover,.button.new_green-o:focus,.button.new_green-o:active    {color: #0a8a63;border:1px solid #0a8a63;}
.button.lightgreen-o:hover,.button.lightgreen-o:focus,.button.lightgreen-o:active {color: #67ba72;border:1px solid #67ba72;} 
.button.green-o:hover,.button.green-o:focus,.button.green-o:active                {color: #0f513e;border:1px solid #0f513e;} 
.button.blue-o:hover,.button.blue-o:focus,.button.blue-o:active                   {color: #1767ad;border:1px solid #1767ad;}


.app-panel    {height: 100vh; width: 100%; display: block; overflow: hidden;}
.head-panel   {height: 40px}
.middle-panel {width: 100%; display: flex; height: calc(100% - 40px);}
.side-panel   {position:relative;
  height: 100%;
  width: 17vw;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
	border-top:none;
	min-width: 250px;
}
.main-panel {width : 100%; height: 100%; background-color: white; overflow-y: auto;}
.component-panel {background: white; width: calc(100% - 44px); margin: 0 5px; padding: 16px; position:relative;}
.component-panel + .subfull-panel {margin-top: 5px;}
.component-panel + .component-panel {margin-top: 10px ;}
.flex-panel > .component-panel + .component-panel {margin-top: 0px ;}
.footer-panel {position: relative; background: #F8F9FA; border-top: 1px solid #E9ECEF; overflow: hidden;  width: 100%; height: 4.5vh; }
.flex-panel {display: flex; padding:5px 0;}
.full-panel {position: relative; display: block; padding:5px 5px;}
.full-panel > .relative-panel {margin-bottom: 10px;}
.subfull-panel {position: relative; display: block; width: 100%;}
.subfull-panel > .component-panel {margin-top: 10px;}
.lfloat-panel {position: relative; float:left;}
.rfloat-panel {position: relative; float: right;}
.relative-panel {position: relative; display: inline-block; width: 100%;}
.main-panel .tray-panel {width:100%; display: inline-block; height: 47px; border-bottom: 1px solid #E9ECEF; position:relative; }
.main-panel .tray-panel .rfloat-panel {position: absolute; height:47px; padding-right:40px; right:0; background: #fff; border-bottom: 1px solid #E9ECEF; box-shadow: -10px 0px 10px rgba(0,0,0,.15);}
.rfloat-panel > button {margin-left: 5px !important;}
.rfloat-panel > button:first-child {margin-left: 0px;}
.center-panel { text-align: center; }


input[type='text'], input[type='password'] {font-size: 14px; line-height: 16px; position: relative; z-index: 9; height: 15px; padding: 8px 0 6px; color: #000; border: 1px solid #DEE2E6; background: #fff; outline: none; border-radius:3px;} 
input[type='text']::placeholder, input[type='password']::placeholder {color:#ADB5BD;}

.sh-input-div {overflow:hidden; width: 100%; height: 33.33px}
.sh-input-h1 {
	font-weight: bold; font-size: 1.5em !important;
}
.sh-input-div > input[type='text']:focus , input[type='password']:focus { outline: none; }
.sh-input-div > input[type='text']:disabled , input[type='password']:disabled {background-color: #ced4da; color:#777; cursor: not-allowed;}
.sh-input-div > input[type='text']:disabled::placeholder , input[type='password']:disabled::placeholder {color:#777; }
.sh-input-div > input[type='radio'] {height: 20px; outline: none;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}

.border_red {
	border: 1px solid #ff0000 !important;
}

/* checkbox */
.sh-input-checkbox-div { display: inline; cursor: pointer;}
.sh-input-checkbox-div > label {position:relative; font-size:14px; height:27px; line-height: 33px; display: inline-block;}
.sh-input-checkbox-div > input[type='checkbox'] {margin:0; margin-left: 4px; align-content: center;position: relative;width: 24px;height: 24px; opacity: 0; z-index: 2; cursor:pointer;}
.sh-input-checkbox-div > input[type='checkbox'] + label:before {content: ''; margin-top:8px; box-sizing:border-box; display: inline-block; width:16px; height:16px; position:absolute; border:1px solid #748FFC; border-radius:2px; margin-left: -21px;}
.sh-input-checkbox-div > input[type="checkbox"]:checked + label:before {border:none; background-color: #748FFC; background-image: url('../image/check.png'); background-size:65%; background-repeat: no-repeat; background-position: 50% 50%;}
.sh-input-checkbox-div > input[type="checkbox"]:disabled + label:before { border:1px solid #ced4da; background: #e9ecef; cursor: not-allowed;}


/* label */
.sh-label-div {display: inline-block; position: relative; margin-right: 5px; margin-left: 5px;}
.sh-label-div > span {display: inline-block; position: relative; margin-top: 6px; color:#495057; font-variant: small-caps; font-weight: bold; font-size: 14px }

.flex-panel > .sh-label-div  {margin-left: 15px;}
.flex-panel > .react-date-picker + .sh-label-div  {margin-left: 5px;}
.flex-panel > .sh-label-div:first-child  {margin-left: 0px;}

/* Radio */
.sh-input-radio-div {display: inline-block; box-sizing: border-box; align-items: center; position:relative; margin-right: 12px;}
.sh-input-radio-div:after {content:""; display: block; float: none; }
.sh-input-radio-div > input[type='radio'] {float: left; align-content: center; position: relative;width: 14px;height: 14px; top: 7px; }
.sh-input-radio-div > input + label:before {content:""; display: inline-block; position:absolute; background:#fff; border-radius:50%; box-sizing:border-box; left:-15px; top:7px;width:16px; height: 16px; border:2px solid #DEE2E6; }
.sh-input-radio-div > input:checked + label:before { border:5px solid #748FFC;}
.sh-input-radio-div > input:disabled + label:before { border:2px solid #ced4da; background: #e9ecef; cursor: not-allowed;}
.sh-input-radio-div > label {float: left; display:inline-block; font-size: 14px; height:33px;line-height: 33px; position: relative; padding-left:5px;}
.sh-input-radio-input {margin: 0px 0px 0px 0px}